<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><% title %> </h1>
            <%if(typeof displayName=='string' && displayName){%>
            <a href="/InventoryRT/add" class="btn btn-primary text-light"
               role="button"><i class="fas fa-plus-circle"></i> Add Inventory Item</a>
            <br>
            <%}%>
            <div class="table-responsive">
            <table class="table table-bordered table table-striped table-hover">
                <%if(typeof displayName=='string' && displayName){%>
                <tr class="d-flex">
                    <th class="text-center col-4">Item Name</th>
                    <th class="text-center col-2">Number of Units</th>
                    <th class="text-center col-2">Price per Unit</th>
                    <th class="text-center col-2">Total Value</th>
                    <th class="text-center col-2"></th>
                </tr>
                <% for(let count=0;count<InventoryRT.length;count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-4"><%= InventoryRT[count].ItemName %></td>
                        <td class="text-center col-2"><%= InventoryRT[count].NumOfUnits %></td>
                        <td class="text-center col-2"><%= InventoryRT[count].PricePerUnit %></td>
                        <td class="text-center col-2"><%= InventoryRT[count].TotalValue %></td>
                        <td class="text-center col-1">
                            <a href="/InventoryRT/edit/<%= InventoryRT[count]._id %>"
                               class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit
                            </a>
                        </td>
                        <td class="text-center col-1">
                            <a href="/InventoryRT/delete/<%= InventoryRT[count]._id %>"
                               class="btn btn-danger btn-sm">
                                <i class="fas trash-alt"></i> Delete
                            </a>
                        </td>
                        <%}%>
                    </tr>

                    <% } else {%>
                        <tr class="d-flex">
                            <th class="text-center col-3">Item Name</th>
                            <th class="text-center col-3">Number of Units</th>
                            <th class="text-center col-3">Price per Unit</th>
                            <th class="text-center col-3">Total Value</th>
                        </tr>
                        <% for(let count=0;count<InventoryRT.length;count++) { %>
                        <tr class="d-flex">
                            <td class="text-center col-3"><%= InventoryRT[count].ItemName %></td>
                            <td class="text-center col-3"><%= InventoryRT[count].NumOfUnits %></td>
                            <td class="text-center col-3"><%= InventoryRT[count].PricePerUnit %></td>
                            <td class="text-center col-3"><%= InventoryRT[count].TotalValue %></td>
                            <%}%>
                        </tr>
                <%}%>
            </table>
            </div>
        </div>
    </div>
</main>
<% include ../partials/footer.ejs %>